@import "tailwindcss";

:root {
  --deep-purple: #12011A;
  --electric-gold: #FFD700;
  --stark-white: #FFFFFF;
}

@theme inline {
  --color-deep-purple: var(--deep-purple);
  --color-electric-gold: var(--electric-gold);
  --color-stark-white: var(--stark-white);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
}

body {
  background: var(--deep-purple);
  color: var(--stark-white);
  font-family: var(--font-mono);
}
